@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@300&display=swap');


* {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

body {
    background-color: #0e1111;
}

.error {
    all: unset;
    color: #0077ff;
    position: absolute;
    bottom: 128px;
}

.login-box {
    width: 360px;
    height: 290px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box {
    background-color: #131818;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-box>p {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0px;

    color: white;
    font-size: 20px;
}

.login-box>form>input {
    height: 40px;
    width: 291px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    padding-left: 10px;

    background-color: #293131;
    transition: transform 0.5s ease;

    color: white;

    border-color: transparent;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: border 0.5s ease;
}

.login-box>form>input:focus {
    outline: none;
    border: 1px solid white;
}

.login-box>form>button {
    height: 40px;
    width: 305px;

    margin-top: 10px;
    padding: 0px;

    background-color: #009bd6;

    font-size: 20px;

    color: #131818;

    border-color: transparent;
    border-radius: 3px;

    transition: background-color 0.5s ease;
}

.login-box>form>button:hover {
    background-color: #00719e;
    cursor: pointer;
}

.swal-modal {
    background-color: #131818;
}

.swal-title {
    color: white;
}

.swal-text {
    color: white;
}

.swal-button {
    background-color: #009bd6;
}

