@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@300&display=swap');


* {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

body {
    background-color: #0e1111;
}

.user-information {
    width: 360px;
    height: 290px;
    background-color: #131818;
    color: white;
}
